name: Publish Any Commit
on: [push, pull_request]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        package:
          - packages/api-tracker
          - packages/plugin
          - packages/polyfills

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun ci

      - name: Build
        run: bun run build
        working-directory: ${{ matrix.package }}

      - name: Publish
        run: bunx pkg-pr-new publish
        working-directory: ${{ matrix.package }}
